<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  {% if site.env.SITE_TOKEN %}
  <meta name="google-site-verification" content="{{ site.env.SITE_TOKEN }}">
  {% endif %}
  <title>{{ page.title }}</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="{{ "/" | absolute_url }}">Home</a></li>
      <li><a href="{{ "/posts.html" | absolute_url }}">Blog</a></li>      
      <li><a href="{{ "/projects.html" | relative_url }}">Projects</a></li> 
      <li><a href="{{ "/tags.html" | absolute_url }}">Tags</a></li>
    </ul>
  </nav>

  <div>
    {{ content }}
  </div>
</body>
</html>
